* {
    margin: 0.5rem;
    padding: 0;
}

body {
    background-color: rgb(202, 255, 58);
    /*border-radius: 10px;*/
    display: flex;
    height: 100vh;

}

main {
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(3, 1fr);
    
       
}

main div {
    padding: 0.5em;
    text-align: start;
    color: rgb(111, 230, 194);


}

.first{
    background-color: rgb(43, 164, 194);
grid-column: 1/3;
}
.a {
    background-color: rgb(214, 89, 44);
    /* grid-area: a;*/
    /* border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;*/
    }

.b {
    background-color: rgb(43, 164, 194);
    /* grid-area: b;*/
grid-row: span 2;

}

.c {
    background-color: rgb(13, 59, 51);
 grid-column: span 2;
 display: flex;
 align-self: center;
 
 
 
}
.cad{
    background-color: rgb(13, 59, 51);
    grid-column: span 2;
   
 
    
 }
 h5 {
    display: flex;

}

p {
    font-size: x-small;
}

.button1 {
    color: rgb(214, 89, 44);
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
    font-size: smaller;
}

.button2 {
    color: rgb(43, 164, 194);
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
    font-size: smaller;
}

.button3 {
    color: rgb(8, 36, 31);
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
    font-size: smaller;
}

.btn {
    padding-top: 50px;
}

.btn :hover {
    background-color: aqua;
}
img{
    max-width: 100%;
    height: auto;
}
